.end { /* modified */
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "GROBOLD"; /* modified */
  background-image:url(../asset/img/illustration.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.lose__title {
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  text-transform: uppercase;
}

.end { 
  height: 10vh;
  text-align: center;
  margin: 0 auto;
  font-size: 30px;
  text-transform: uppercase;
}

.end--score {
  display: inline-block;
  margin-right: 50px; 
}

.end--lives {
  display: inline-block;
}

.instructions {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  margin-top: 15px;
  padding: 15px 30px;
}

.instructions--play {
  border: 3px solid white; /* modified */
  border-radius: 10px;
}

.instructions--stop {
  border: 3px solid white; /* modified */
  border-radius: 10px;
}