.contain {
  background-image:url(../asset/img/fougeres.png),
  url(../asset/img/trees.png),
  url(../asset/img/grass.png);
  width: 100%;
  height: 100%;
  position: relative;
}

.sprite{
  width: 60px;
  height: 60px;
  position: absolute;
  top:0;
  left: 0;
  background-size: contain;
  z-index: 100;
}

.hero {
  @extend .sprite;//rajoute toutes les carégories de .sprite (à modifier en mixin ?...)
  background-image: url('../asset/img/persoWalkB.png');
}

.badboy {
  @extend .sprite;
  background-image: url('../asset/img/badguy.png');
}

.bullet{
  @extend .sprite;
  width: 10px;
  height: 10px;
}

.fireball{
  @extend .bullet;
  background-color: red;
}


.waterball{
  @extend .bullet;
  background-color: blue;
}

.tree {
  width: 10px;
  height: 80px;
  background: green;
  position: absolute;
  top: 10vh;
  left: 20vw;
}



.lives {
  display: flex;
  justify-content: center ;
  font-family: monospace;
  font-size: 32px;
  color: red;
}

.walker {
  height: 30px;
            width: 30px;
            position: absolute;
            background-color: black;
}

.tile {
  background-color: lightgreen;
  position: absolute;
  z-index: 10;
  border-radius: 20%;
}

.tile--burned {
  background-color: black;
}