.contain {
  background:url(../asset/img/trees.png),
  url(../asset/img/fougeres.png);
  width: 100vw;
  height: 100vh;
  position: relative;
}

.map {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: -5;
  background-color: darkolivegreen;
}

.sprite{
  width: 60px;
  height: 60px;
  position: absolute;
  top:0;
  left: 0;
  background-size: contain;
  z-index: 100;
}

.hero {
  @extend .sprite;//rajoute toutes les carégories de .sprite (à modifier en mixin ?...)
  background-image: url('../asset/img/persoWalkB.png');
}

.badboy {
  @extend .sprite;
  background-image: url('../asset/img/badguy.png');
}

.bullet{
  @extend .sprite;
  width: 10px;
  height: 10px;
}

.fireball{
  @extend .bullet;
  background-color: red;
}


.waterball{
  @extend .bullet;
  background-color: blue;
}

.tree {
  width: 10px;
  height: 80px;
  background: green;
  position: absolute;
  top: 10vh;
  left: 20vw;
}

.lives {
  display: flex;
  justify-content: center ;
  font-family: monospace;
  font-size: 32px;
  color: red;
}

.tile {
  background-image: url(../asset/img/grass.png);
  position: absolute;
  z-index: 10;
}

.tile--burned {
  background-image: url(../asset/img/burned-tile.png);
}

.menuBtn {
  color: white;
  font-size: 10px;
  padding: 7px 15px;
  background-color: black;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
  font-family: "m50";
}

.endBtn { /*A SUPPRIMER*/
  color: white;
  font-size: 10px;
  padding: 7px 15px;
  background-color: black;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 40px;
  font-family: "m50";
}