.home {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "GROBOLD"; /* modified */
  background-image:url(../asset/img/illustration.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.home__title {
  margin-bottom: 100px;
}

.home__story {
  color: black;
  font-size: 20px;
  text-transform: uppercase;
  margin-left: 450px;
  margin-right: 450px;
}

.home__instruction {
  color: white;
  background-color: #DF3939;
  font-size: 40px;
  padding: 15px 30px;
  border: 5px solid black; /* modified */
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  margin-top: 70px;
}

.home__names {
  position: absolute;
  color: white;
  bottom: 1px; 

  li {
    display: inline;
    margin-right: 50px; 
  } 
}

.logo {
  position: absolute;
  width: 300px;
  height: 200px;
  right: 12px;
  top: 64px;
}

#element_lecture img {
  position: absolute;
  width: 5vw;
  height: 6vh;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.mouse {
  position: absolute;
  width: 3vw;
  height: 7vh;
  right: 103px;
  bottom: 70px;
}

.mouse-cursor {
  position: absolute;
  width: 5vw;
  height: 6vh;
  right: -16px;
  bottom: 70px; 
}

.arrows {
  position: absolute;
  width: 6vw;
  height: 6vh;
  right: -148px;
  bottom: 70px; 
}

.rules {
  display: flex;
  position: absolute;
  flex-direction: row;
  color: black;
  top: 322px;
}

.rules--target {
  margin-right: 60px;
}

.rules--shoot {
  margin-right: 60px;
}

.game__controls {
  position: absolute;
}

.love {
  position: absolute;
  width: 4vw;
  height: 6vh;
  bottom: 1px;
  left: 10px;
}