.win__title {
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  text-transform: uppercase;
}

.end__score {
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  text-transform: uppercase;
}

.instructions {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  margin-top: 15px;
  padding: 15px 30px;
}

.instructions--play {
  background-color: black;
  border-radius: 10px;
}

.instructions--stop {
  background-color: grey;
  border-radius: 10px;
}